DJANGO_SECRET_KEY=''
# Can be generated via python:
# python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'

META_ACCESS_TOKEN=''  # META system user token
DEBUG=''  # To turn on django debug mode set True, else False
LOCAL=''  # To use postgres as main db set True, else False - use dbsqlite3